	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#pu1915
	{
		margin-top: -28px;
	}

	#u1915
	{
		background-image: url("../images/img_2762-u1744-fr.jpg");
	}

	#u1948-4
	{
		margin-top: 35px;
		width: 8.44%;
		left: 46.57%;
	}

	#u1949
	{
		margin-top: 67px;
	}

	#u1950
	{
		margin-bottom: -5px;
		width: 5.53%;
		left: 48.03%;
	}

	#u1986-4
	{
		margin-top: 205px;
		width: 7.19%;
		left: 12.71%;
	}

	#u1990-4
	{
		margin-top: 205px;
		width: 7.71%;
		left: 33.23%;
	}

	#u1998-4
	{
		margin-top: 209px;
		width: 6.25%;
		left: 54.69%;
	}

	#u2002-4
	{
		margin-top: 205px;
		width: 6.98%;
		left: 75.63%;
	}

	#u2006-4
	{
		margin-top: 322px;
		width: 18.03%;
		left: 7.92%;
	}

	#u2010
	{
		margin-top: 238px;
		width: 19.28%;
		left: 7.3%;
	}

	#u2014
	{
		margin-top: 238px;
		width: 19.28%;
		left: 28.03%;
	}

	#u2020
	{
		margin-top: 238px;
		width: 19.28%;
		left: 48.75%;
	}

	#u2026
	{
		margin-top: 238px;
		width: 19.28%;
		left: 69.48%;
	}

	#u2032
	{
		margin-top: 353px;
		width: 19.28%;
		left: 7.3%;
	}

	#u2038-5
	{
		margin-top: 322px;
		width: 20.84%;
		left: 48.65%;
	}

	#u2046
	{
		margin-top: 353px;
		width: 19.28%;
		left: 48.75%;
	}

	#u2070
	{
		margin-top: 353px;
		width: 19.28%;
		left: 69.48%;
	}

	#u2052-4
	{
		margin-top: 322px;
		width: 8.23%;
		left: 33.23%;
	}

	#u2056
	{
		margin-top: 353px;
		width: 19.28%;
		left: 28.03%;
	}

	#u2076
	{
		margin-top: 458px;
		width: 18.55%;
		left: 39.38%;
	}

	#u2092-4
	{
		min-height: 28px;
		margin-top: -88px;
		width: 4.9%;
		left: 46.25%;
	}

	#u2066-5
	{
		margin-top: -229px;
		width: 11.36%;
		left: 74.8%;
	}

