.version.menu /* version checker */
{
	color: #0000EA;
	background-color: #1D3A1E;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	z-index: 1;
	border-width: 0px;
	background-image: none;
	margin-left: auto;
	padding-bottom: 62px;
	min-height: 438px;
	width: 100%;
	margin-right: auto;
	border-color: #000000;
}

#u1744
{
	background-color: transparent;
	z-index: 2;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	margin-right: -10000px;
	background-position: left top;
	height: 547px;
	background-size: cover;
}

#u1792
{
	background-color: #294C8E;
	z-index: 3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	opacity: 0.29;
	filter: alpha(opacity=28.999999999999996);
}

#u1792-bw
{
	z-index: 3;
}

#u610-4
{
	background-color: transparent;
	color: #FFFFFF;
	z-index: 4;
	position: relative;
	min-height: 32px;
	margin-top: 30px;
	font-size: 25px;
	font-weight: 800;
	line-height: 30px;
	margin-right: -10000px;
	font-family: raleway, sans-serif;
}

#u1696
{
	background-color: #294C8E;
	z-index: 8;
	position: relative;
	border-radius: 200px;
	margin-right: -10000px;
}

#u926
{
	background-color: transparent;
	z-index: 14;
	margin-right: -10000px;
	position: relative;
}

#u927
{
	width: 100%;
	z-index: 15;
	display: block;
}

#u1700
{
	background-color: #294C8E;
	z-index: 9;
	position: relative;
	border-radius: 200px;
	margin-right: -10000px;
}

#u928
{
	background-color: transparent;
	z-index: 16;
	margin-right: -10000px;
	position: relative;
}

#u929
{
	width: 100%;
	z-index: 17;
	display: block;
}

#u1706
{
	background-color: #294C8E;
	z-index: 10;
	position: relative;
	border-radius: 200px;
	margin-right: -10000px;
}

#u930
{
	background-color: transparent;
	z-index: 18;
	margin-right: -10000px;
	position: relative;
}

#u931
{
	width: 100%;
	z-index: 19;
	display: block;
}

#u1712
{
	background-color: #294C8E;
	z-index: 11;
	position: relative;
	border-radius: 200px;
	margin-right: -10000px;
}

#u932
{
	background-color: transparent;
	z-index: 20;
	margin-right: -10000px;
	position: relative;
}

#u933
{
	width: 100%;
	z-index: 21;
	display: block;
}

#u1718
{
	background-color: #294C8E;
	z-index: 12;
	position: relative;
	border-radius: 200px;
	margin-right: -10000px;
}

#u934
{
	background-color: transparent;
	z-index: 22;
	margin-right: -10000px;
	position: relative;
}

#u935
{
	width: 100%;
	z-index: 23;
	display: block;
}

#u1724
{
	background-color: #294C8E;
	z-index: 13;
	margin-top: 62px;
	width: 100%;
	margin-right: -10000px;
	position: relative;
}

#u813
{
	background-color: transparent;
	z-index: 24;
	position: relative;
	margin-right: -10000px;
}

#u810
{
	width: 100%;
	z-index: 25;
	display: block;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 321px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u1744
	{
		background-image: url("../images/img_2762-u1744-fr.jpg");
	}

	#u1792,#u1792-bw
	{
		height: 547px;
	}

	#u610-4
	{
		width: 8.44%;
		left: 46.57%;
	}

	#u1696
	{
		padding-bottom: 24px;
		margin-top: 397px;
		width: 13.44%;
		left: 44.59%;
	}

	#u934
	{
		margin-top: 25px;
		width: 85.28%;
		left: 6.98%;
	}

	#u1700
	{
		padding-bottom: 17px;
		margin-top: 109px;
		width: 11.88%;
		left: 30%;
	}

	#u926
	{
		margin-top: 17px;
		width: 95.62%;
		left: 1.76%;
	}

	#u1706
	{
		padding-bottom: 16px;
		margin-top: 109px;
		width: 11.78%;
		left: 62.09%;
	}

	#u928
	{
		margin-top: 17px;
		width: 97.35%;
	}

	#u1712
	{
		padding-bottom: 12px;
		margin-top: 268px;
		width: 11.88%;
		left: 30%;
	}

	#u930
	{
		margin-top: 26px;
		width: 97.37%;
		left: 1.76%;
	}

	#u1718
	{
		padding-bottom: 12px;
		margin-top: 268px;
		width: 11.78%;
		left: 62.09%;
	}

	#u932
	{
		margin-top: 26px;
		width: 98.24%;
		left: 1.77%;
	}

	#u813
	{
		margin-bottom: -5px;
		width: 5.53%;
		left: 48.03%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u1744
	{
		background-image: url("../images/img_2762-u1744-fr2.jpg");
	}

	#u1792
	{
		height: 548px;
	}

	#u1792-bw
	{
		margin-top: -1px;
		height: 548px;
	}

	#u610-4
	{
		width: 34.69%;
		left: 37.19%;
	}

	#u1696
	{
		padding-bottom: 18px;
		margin-top: 147px;
		width: 25.63%;
		left: 16.25%;
	}

	#u926
	{
		margin-top: 24px;
		width: 74.4%;
		left: 13.42%;
	}

	#u1700
	{
		padding-bottom: 19px;
		margin-top: 147px;
		width: 25.63%;
		left: 58.13%;
	}

	#u1706
	{
		padding-bottom: 19px;
		margin-top: 260px;
		width: 25.63%;
		left: 16.25%;
	}

	#u928,#u930
	{
		margin-top: 18px;
		width: 82.93%;
		left: 8.54%;
	}

	#u1712
	{
		padding-bottom: 17px;
		margin-top: 260px;
		width: 25.63%;
		left: 58.13%;
	}

	#u932
	{
		margin-top: 18px;
		width: 86.59%;
		left: 8.54%;
	}

	#u1718
	{
		padding-bottom: 17px;
		margin-top: 369px;
		width: 25.63%;
		left: 37.19%;
	}

	#u934
	{
		margin-top: 17px;
		width: 87.81%;
		left: 6.1%;
	}

	#u1724
	{
		padding-bottom: 1px;
	}

	#u813
	{
		width: 13.44%;
		left: 44.69%;
	}

	body
	{
		min-width: 320px;
	}

}

