	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		padding-bottom: 62px;
		max-width: 962px;
	}

	#u1786
	{
		width: 99.8%;
	}

	#u149
	{
		height: 547px;
		width: 100.21%;
	}

	#u1010
	{
		margin-top: 136px;
		width: 29.48%;
		left: 34.8%;
	}

	#u1601-4
	{
		z-index: 6;
		min-height: 76px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 77px;
		font-size: 64px;
		font-family: raleway, sans-serif;
		font-weight: 800;
		position: relative;
		margin-right: -10000px;
		margin-top: 192px;
		width: 34.38%;
		left: 32.92%;
	}


