	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u1744
	{
		background-image: url("../images/img_2762-u1744-fr.jpg");
	}

	#u1792,#u1792-bw
	{
		height: 547px;
	}

	#u610-4
	{
		width: 8.44%;
		left: 46.57%;
	}

	#u1696
	{
		padding-bottom: 24px;
		margin-top: 397px;
		width: 13.44%;
		left: 44.59%;
	}

	#u934
	{
		margin-top: 25px;
		width: 85.28%;
		left: 6.98%;
	}

	#u1700
	{
		padding-bottom: 17px;
		margin-top: 109px;
		width: 11.88%;
		left: 30%;
	}

	#u926
	{
		margin-top: 17px;
		width: 95.62%;
		left: 1.76%;
	}

	#u1706
	{
		padding-bottom: 16px;
		margin-top: 109px;
		width: 11.78%;
		left: 62.09%;
	}

	#u928
	{
		margin-top: 17px;
		width: 97.35%;
	}

	#u1712
	{
		padding-bottom: 12px;
		margin-top: 268px;
		width: 11.88%;
		left: 30%;
	}

	#u930
	{
		margin-top: 26px;
		width: 97.37%;
		left: 1.76%;
	}

	#u1718
	{
		padding-bottom: 12px;
		margin-top: 268px;
		width: 11.78%;
		left: 62.09%;
	}

	#u932
	{
		margin-top: 26px;
		width: 98.24%;
		left: 1.77%;
	}

	#u813
	{
		margin-bottom: -5px;
		width: 5.53%;
		left: 48.03%;
	}


